<!-- <div *ngFor="let p of pokemon">
  <li>
    {{p.name}}
  </li>
</div> -->
<md-card>
  <!-- <button(click)="evolution()">Check Evolutions</button>       -->
  <td (click)='evolution()' class="align-mid"><button>Check Evolutoins</button></td>

  <div>
  <h1>THIS ARE THE  POKEMONS</h1>  
<table class="table table-hover" width="100%">
  <thead class="text-success">
    <tr>
      <!-- <th width="10%">Id</th> -->
      <th width="35%">Name</th>
      <th width="5%"></th>
    </tr>
  </thead>
  

  <tbody>
    <!-- <td>{{pokemons[1].species.name}}</td> -->
    <tr *ngFor="let p of pokemons; let i = index">
      <!-- <td class="align-mid">{{pokemons[0].species.name}}</td> -->
      <td class="align-mid">{{p.species.name}}</td>
      <td class="align-mid"(click)='addToBag(p)'><button>Add to bag</button></td>
    </tr>
  </tbody>
</table>
</div>


<div >

  <h1>THIS IS THE BAG</h1>
  <h2>These are your Pokemons</h2>
  <table class="table table-hover" width="100%">
      <thead class="text-success">
        <tr>
          <th width="35%">Name</th>
          <th width="10%">Level</th>
          <th width="5%"></th>
        </tr>
      </thead>
      
    
      <tbody>
        <!-- <td>{{pokemons[1].species.name}}</td> -->
        <tr *ngFor="let p of bag; let i = index">
          <!-- <td class="align-mid">{{pokemons[0].species.name}}</td> -->
          <td class="align-mid">{{p.species.name}}</td>
          <td class="align-mid">{{p.evolves_to[0].evolution_details[0].min_level}}</td>          
          <td class="align-mid"><button>Remove from bag</button></td>
        </tr>
      </tbody>
    </table>



</div>
</md-card>