.user-bag{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px 0 30px;
    left: 0;
    top: 0;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.57);
    opacity: 0.8;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #61615E;
    cursor: pointer;
  }
  
a:hover {
    color: #1EB100;
  }

th, td {
    font-family: monospace;
    font-size: 2em;

}

th {
    font-size: 3em;
    font-weight: bold;
    color:black;
}

_ngcontent-c0, th {
    font-size: 2em;
}

/* .col-lg-5{
    margin-top: 50px;
} */
.card{
    margin-top: 80px;
}
/* .pokemonDetails{
    
} */
/* .col-lg-5 col-md-12{
    margin-top: -250px;
} */

button, input, select, textarea{
    font-size: 25px;
    background: rgba(255, 255, 255, 0.2);
}
.details{
    float: right;
    font-family: monospace;
    font-style: italic;
}
.titleBagP, .titleBagI{
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
}
.container-fluid{
    font-family: monospace;
    font-size: 3em;    
}


