<!-- <div *ngFor="let p of pokemon">
  <li>
    {{p.name}}
  </li>
</div> -->
<md-card>
<table class="table table-hover" width="100%">
  <thead class="text-success">
    <tr>
      <th width="10%">Id</th>
      <th width="35%">Name</th>
      <th width="5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pokemon; let i = index">
      <td class="align-mid">{{p.id}}</td>
      <td class="align-mid">{{p.name}}</td>
      <td class="align-mid"><button>X</button></td>
    </tr>
  </tbody>
</table>
</md-card>